@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 header{
    background-color: #FAEDCE;
    color: black;
 }
 header p{
   font-family: 'poppins';
   font-size: 20px;
 }
 .topbar{
    display: flex;
    border-bottom: 1px solid #CCD5AE ;
    padding-left: 45px;
    height: 36px;
    align-items: center;
}

 .topbar ul li{
    list-style: none;
    display: flex;
    align-items: center;
 }
 nav{
    display: flex;
 }
 .logo{
    display: flex;
    align-items: center;
 }
 .logo img{
    width:66px;
    padding:0px 0px 0px 25px;
 }
 nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 58px;
    margin-left: 1257px;
 }
 nav ul li{
    list-style: none;
    padding: 0 19px;
    font-size: 17px;
 }
 nav ul li a{
    color:black;
    text-decoration: none;
 }
 nav ul li a:hover{
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
 }
.logo text{
  font-size: 23px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #FAEDCE ;
}

.body2 {
    font-family: Arial, sans-serif;
    background-color: #FAEDCE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 57px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #333;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}
